@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html, body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.scroll-smooth {
  scroll-behavior: smooth;
}


/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
